<footer class="transparent-footer">
  <div class="social-icons">
    <a href="https://www.instagram.com/heavensgate_jpn/" target="_blank" rel="noopener noreferrer" title="Instagram">
      <img src="{{ "/images/instagram-icon.svg" | relURL }}" alt="Instagram" class="social-icon">
    </a>
    <a href="https://x.com/heavensgate_jpn" target="_blank" rel="noopener noreferrer" title="X (Twitter)">
      <img src="{{ "/images/x-icon.svg" | relURL }}" alt="X (Twitter)" class="social-icon">
    </a>
    <a href="https://www.youtube.com/@HEAVENS_GATE_JPN" target="_blank" rel="noopener noreferrer" title="YouTube">
      <img src="{{ "/images/youtube-icon.svg" | relURL }}" alt="YouTube" class="social-icon">
    </a>
    <a href="https://soundcloud.com/tokyo-heals" target="_blank" rel="noopener noreferrer" title="Soundcloud">
      <img src="{{ "/images/soundcloud-icon.svg" | relURL }}" alt="Soundcloud" class="social-icon">
    </a>
    <a href="https://discord.gg/XdkAGUDeGS" target="_blank" rel="noopener noreferrer" title="Discord">
      <img src="{{ "/images/discord-icon.svg" | relURL }}" alt="Discord" class="social-icon">
    </a>
    <a href="mailto:heavnsgate.jpn@gmail.com" title="Email">
      <img src="{{ "/images/email-icon.svg" | relURL }}" alt="Email" class="social-icon">
    </a>
  </div>
</footer>